/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: middle;
}

body {
  font-family: "Roboto", sans-serif;
}
body .banner img {
  position: relative;
}
body .banner ul li {
  font-style: italic;
  position: absolute;
  top: 354px;
  left: 790px;
  color: white;
}
body .banner ul li p {
  font-size: 24px;
  line-height: 42px;
}
body .banner ul li h1 {
  font-size: 80px;
  line-height: 106px;
  margin-bottom: 32px;
  font-weight: bold;
}
body .banner ul li span {
  font-size: 24px;
  line-height: 36px;
}
body .banner .banner-social {
  margin-top: 40px;
}
body .banner .banner-social img {
  margin-right: 16px;
}
body .banner .banner-social img:hover {
  transform: scale(1.2);
}
body .container {
  width: 1200px;
  margin: 0 auto;
}
body .container .about h2 {
  margin-top: 56px;
  text-align: center;
  font-size: 64px;
  line-height: 84px;
  margin-bottom: 40px;
}
body .container .about .about-img {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
body .container .about .about-text {
  text-align: center;
}
body .container .about li {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}
body .container .about .mb4 {
  margin-bottom: 4px;
}
body .container .about .mb8 {
  margin-bottom: 8px;
}
body .container .about .about-school {
  padding-bottom: 24px;
}
body .container .about .about-ul {
  width: 384px;
  margin: 0 auto;
  padding-bottom: 56px;
  border-top: 1px solid #000000;
}
body .container .about .about-ul li {
  text-align: center;
  list-style: disc;
  margin-top: 27px;
}
body .brand {
  background: #000000;
}
body .brand .container {
  color: white;
  text-align: center;
}
body .brand .container h2 {
  font-size: 64px;
  line-height: 84px;
  padding-top: 56px;
  margin-bottom: 12px;
}
body .brand .container p {
  font-size: 24px;
  line-height: 42px;
  margin-bottom: 32px;
}
body .brand .container h3 {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 68px;
}
body .brand .container .mb40 {
  margin-bottom: 40px;
}
body .brand .container .brand-img {
  padding-bottom: 160px;
  display: flex;
  justify-content: space-between;
}
body .works {
  text-align: center;
}
body .works h2 {
  margin-top: 56px;
  margin-bottom: 16px;
  font-size: 64px;
  line-height: 84px;
  font-style: italic;
}
body .works h3 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 56px;
}
body .works .works-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
body .works .works-item p {
  font-size: 20px;
  line-height: 42px;
}
body .works img {
  margin-bottom: 16px;
}
body .works .mb144 {
  margin-bottom: 144px;
}
body .footer {
  background: #000;
  color: white;
  font-style: italic;
  text-align: center;
}
body .footer h2 {
  font-size: 64px;
  line-height: 84px;
  padding-top: 64px;
  margin-top: 0;
  margin-bottom: 16px;
}
body .footer p {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
}
body .footer p a {
  text-decoration: none;
  color: white;
}
body .footer p a:hover {
  color: bisque;
}
body .footer .pb64 {
  padding-bottom: 64px;
  margin: 0;
}/*# sourceMappingURL=style.css.map */