/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    vertical-align: middle;
}
body{
    font-family: 'Roboto', sans-serif;
    .banner{
        // background-image: ("https://hexschool.github.io/webLayoutTraining1st/week2/banner.png");
        // background-size: cover;
        // background: no-repeat;
        // position: relative;
        img{
            position: relative;
        }
        ul li{
            font-style: italic;
            position:absolute;
            top:354px;
            left: 790px;
            color:white;
            p{
                font-size: 24px;
                line-height: 42px;
            }
            h1{
                font-size: 80px;
                line-height: 106px;
                margin-bottom: 32px;
                font-weight: bold;
            }
            span{
                font-size: 24px;
                line-height: 36px;
            }
        }
        .banner-social{
            margin-top: 40px;
            img{
                margin-right: 16px;
            }
            img:hover{
                transform: scale(1.2);
            }
        }
        
    }
    .container{
        width: 1200px;
        margin: 0 auto;
        .about{
            h2{
                margin-top: 56px;
                text-align: center;
                font-size: 64px;
                line-height: 84px;
                margin-bottom: 40px;
            }
            .about-img{
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
            }
            .about-text{
                text-align: center;
            }
            li{
                font-size: 24px;
                font-weight: bold;
                font-style: italic;
            }
            .mb4{
                margin-bottom: 4px;
            }
            .mb8{
                margin-bottom: 8px;
            }
            .about-school{
                padding-bottom: 24px;
            }
            .about-ul{
                width: 384px;
                margin: 0 auto;
                padding-bottom: 56px;
                border-top: 1px solid #000000;
                li{
                    text-align: center;
                    list-style: disc;
                    margin-top: 27px;
                }
                
            }
        }
    }
    .brand{
        background: #000000;
        .container{
            color:white;
            text-align: center;
            h2{
                font-size: 64px;
                line-height: 84px;
                padding-top: 56px;
                margin-bottom: 12px;
            }
            p{
                font-size: 24px;
                line-height: 42px;
                margin-bottom: 32px;
            }
            h3{
                font-size: 20px;
                line-height: 30px;
                padding-bottom: 68px;
            }
            .mb40{
                margin-bottom: 40px;
            }
            .brand-img{
                padding-bottom: 160px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .works{
        text-align: center;
        h2{
            margin-top: 56px;
            margin-bottom: 16px;
            font-size: 64px;
            line-height: 84px;
            font-style: italic;
        }
        h3{
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 56px;
        }
        .works-item{
            display: flex;
            justify-content: space-between;
            margin-bottom: 48px;
    
             p{
                font-size: 20px;
                line-height: 42px;
             }
        }
        img{
            margin-bottom: 16px;
        }
        .mb144{
            margin-bottom: 144px;
        }
    }
    .footer{
        background: #000;
        color:white;
        font-style: italic;
        text-align: center;
        h2{
            font-size: 64px;
            line-height: 84px;
            padding-top: 64px;   
            margin-top: 0; 
            margin-bottom: 16px;
        }
        p{
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 16px;
            a{
                text-decoration:none;
                color:white;
                
            }  
            a:hover{
                color:bisque;
            } 
        }
        .pb64{
            padding-bottom: 64px;
            margin: 0;
        }
    }
}
